<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title></title>
    <script src="/assets/js/projects.js"></script>
</head>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-4-">
          <a href="#" class="brand-logo white-text thin" style="margin-left: 20px">KanBan Coster</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down black-text medium">
            <li><a href="../people">People</a></li>
            <li><a href="../projects">Projects</a></li>
            <li><a href="../budget">Budget</a></li>
          </ul>
        </div>
      </nav>
</div>
<body>
    
    {{{ body }}}

</body>

<!-- Latest bootstrap js:-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- our JS -->
	<script src="/public/assets/js/script.js""></script>
</html>