<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title></title>

</head>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue">
      <a href="../home" class="brand-logo white-text thin" style="margin-left: 20px">KanBan Coster</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down black-text medium">
        <li><a href="../people">People</a></li>
        <li><a href="../projects">Projects</a></li>
        <li><a href="../tasks">Tasks</a></li>
      </ul>
    </div>
  </nav>
</div>

<body>

  {{{ body }}}

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of coding bootcamp students hoping to make project
            management easier for everyone!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="white-text" href="mailto:smithrkorey@gmail.com">Korey Smith</a></li>
            <li><a class="white-text" href="mailto:gkuo98@gmail.com">Grace Kuo</a></li>
            <li><a class="white-text" href="mailto:jericfey@gmail.com">Jeri Fey</a></li>
            <li><a class="white-text" href="mailto:langjeffrey@gmail.com">Jeffery Lang</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>




  <!-- Latest bootstrap js:-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/public/assets/js/style.js"></script>
  <script src="/public/assets/js/task.js"></script>
  {{!-- <script src="/public/assets/js/script.js"></script> --}}
  <!-- our JS -->
</body>






</html>