<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title></title>
    <script src="/assets/js/projects.js"></script>

</head>

<body>
    {{ navbar }}
    {{{ body }}}

</body>

<!-- Latest bootstrap js:-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- our JS -->
	<script src="/public/assets/js/projects.js"></script>
</html>