<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h3 class="thin black-text">New Project:</h3>
        <br>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name bold">Project Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Description:</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Department:</label>
                    </div>
                </div>


                <form class="col s12" action="#">
                    <div class="col s6">
                        <p>Display Options:</p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Display Project information</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Require Project Name</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Require Project Description</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>Approval Options:</p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Use Default Name and Email</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Adding a New Team Member</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Send Confirmation Email</span>
                            </label>
                        </p>
                    </div>
                </form>

            </form>
        </div>
    </div>
</div>