<!--top header-->
<div class="container">
    <div class="section">

        <div class="row ">
            <div class="col s12 center">
                <h4 class="light">Focus on continuous delivery, increased productivity and budget awareness for your
                    team with Kanban Coster.</h4>
            </div>
        </div>

    </div>
</div>
<!--header-->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">

                <br><br>

            </div>
        </div>
    </div>
    <div class="parallax"><img src="/views/images/Screen Shot 2021-01-18 at 5.27.06 PM.png"
            alt="Unsplashed background img 1"></div>
</div>
</div>
<!--start now-->
<div class="container">
    <div class="section">

        <div class="row ">
            <div class="col s12 center ">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Start Now</h4>
                <div class="col s6">
                    <a href="./people" id="download-button" class="btn-large waves-effect waves-light grey darken-4">New
                        Team
                        Member</a>
                </div>
                <div class="col s6">
                    <a href="./projects" id="download-button"
                        class="btn-large waves-effect waves-light grey darken-4">New
                        Project</a>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="card small icon-block">
                    <h2 class="center blue-text text-lighten-3">
                        <i class="medium material-icons">trending_up</i>
                    </h2>
                    <!--Efficient Workflows-->
                    <h5 class="center">Create Efficient Workflows</h5>
                    <p class="light center">
                        Create a continuous flow process allowing your team to work efficiently and increase visibility.
                    </p>
                </div>
            </div>
            <!--Budget-->
            <div class="col s12 m4">
                <div class="card small icon-block">
                    <h2 class="center blue-text text-lighten-3">
                        <i class="medium material-icons">attach_money</i>
                    </h2>
                    <h5 class="center">Stay Within Budget</h5>
                    <p class="light center">
                        Appropriately allocate resources, reduce costs, and stay within your budget scope.
                    </p>
                </div>
            </div>
            <!--tasks-->
            <div class="col s12 m4">
                <div class="card small icon-block">
                    <h2 class="center blue-text text-lighten-3">
                        <i class="medium material-icons">access_alarm</i>
                    </h2>
                    <h5 class="center">Never Miss a Task</h5>
                    <p class="light center">
                        Assign a status to each task to prioritize work and improve project management.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!--projects preview-->



<div class="row">
    <div class="col s8 push-s4">
        <div id="index-banner" class="parallax-container">
            <div class="parallax"><img style="opacity: 1;" src="views/images/Screen Shot 2021-01-18 at 8.50.15 PM.png"
                    alt="Unsplashed background img 1">
            </div>
        </div>
    </div>

    <div class="col s4 pull-s8">
        <div class="row ">
            <h5 class="header center light" style="margin-top: 40%;">View all your current, present, and past projects.
            </h5>
        </div>
    </div>
</div>
</div>