<h1>Tasks!</h1>

<h2>Backlog</h2>

<ul>
  {{#each tasks}}
  {{/each}}
</ul>

<h2>In Progress</h2>

{{!-- <ul>
  {{#each task}}
  {{#if sleepy}}
  {{> task/cat-block sleep=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Blocked</h2>

<ul>
  {{#each task}}
  {{#unless sleepy}}
  {{> task/cat-block sleep=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Complete</h2>

<ul>
  {{#each task}}
  {{#if sleepy}}
  {{> task/cat-block sleep=false}}
  {{/if}}
  {{/each}}
</ul> --}}