<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-4-">
            <a href="#" class="brand-logo white-text thin">KanBan Coster</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down black-text medium">
                <li><a href="people.html">People</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="budget.html">Budget</a></li>
            </ul>
        </div>
    </nav>
</div>