.nav-wrapper {
  font-family: "Raleway", sans-serif;
}

.right-hide-on-med-and-down {
  font-family: "Raleway", sans-serif;
}

.about {
  font-family: "Raleway", sans-serif;
}

.header {
  font-family: "Raleway", sans-serif;
}
